node_modules/
.git/
credentials_local.js
stress_test_run.js
super_10_tests_runner.js
workflow_extraction_test.js
*_test.js
bateria_final_*.js
deep_wisdom_*.js
production_stress_*.js
shoulder_*.js
showcase_*.js
verify_*.js
mega_audit_*.js
fix_quadril_*.js
bible_phrases.json
extracted_texts/
corpus_extracao.txt
final_corpus.txt
package-lock.json
package.json
debug_pdf.js
knowledge_base.js
learn_style.js
build_phrase_bible.js
